.container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1.94rem;
  max-width: 59.3rem;
  margin: 2.5rem auto 4rem;

  .title {
    color: #353535;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.125rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.5rem;
    margin-top: 1.5rem;

    li {
      transition: 0.3s;

      a {
        color: #000;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.125rem;
        text-decoration: none;
      }

      &:hover {
        opacity: 0.75;
      }
    }
  }

  @media (max-width: 720px) {
    flex-direction: column;
    gap: 1rem;

    .item {
      width: 100%;

      .title {
        display: flex;
        justify-content: space-between;
        background: transparent;
        border: 0;
        width: 100%;
        cursor: pointer;
      }
    }

    .list {
      margin: 1.5rem 0;
      gap: 0.5rem;
    }
  }
}

.copy-wrapper-container {
  background: #353535;

  .copy-wrapper-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    max-width: 100rem;
    margin: 0 auto;
    padding: 1rem;

    color: #fff;

    ul {
      display: flex;
      list-style: none;
      gap: 1.3rem;

      p {
        color: #fff;
        font-family: 'Open Sans';
        font-size: 0.625rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }
    }

    @media (max-width: 720px) {
      flex-direction: column;
      padding: 1.5rem;
    }
  }
}
